<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="nav-bar" th:fragment="navUnloginFragment">
		<script th:src="@{/js/component/nav-unlogin-component.js}"></script>
		<div class="nav-control">
			<a th:href="@{#}">Easy Plan</a>
		</div>
		<div class="nav-user-control">
			<button id="login">로그인</button>
			<button id="signup">회원가입</button>
		</div>
		
		<div id="modal-overlay" class="user-modal-overlay close"></div>
		<script th:src="@{/js/user/unlogin.js}"></script>
	</div>
</body>
</html>