.mypage-container {
	width: 100%;
	height: 100%;
	min-height: calc(100vh - 6rem);
	background: var(--main-bg);
	padding-top: 3rem;
}

.mypage-section-descript {
	width: 100%;
	height: 6.2rem;
	padding-left: 1rem;
	background: var(--main-bg);
	font-size: 1.2rem;
	color: var(--main-text-color);
	border-bottom: var(--main-border);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	a {
		text-decoration: underline;
		padding: 0 0.4rem;
		color: var(--main-text-color);
	}
	
	a:hover {
		color: #6598ed;
	}
	
	h1 {
		padding: 0 0.4rem;
		font-size: 2rem;
		padding-bottom: 0.4rem;
	}
}

.mypage-content {
	width: 100%;
	height: auto;
	padding-top: 3rem;
}

.mypage-content-item {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border-radius: 10px;
}

.item-header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: auto;
	padding: 0.4rem 1rem;
	background: var(--content-header-bg);
	color: var(--content-header-text);
	
	h2 {
		font-size: 1.6rem;
	}
	
	button {
		padding: 0 1rem;
		background: var(--main-bg);
		border: none;
		border-radius: 4px;
		color: var(--main-text-color);
	}
	
	button:hover {
		background: var(--content-header-hover);
		color: white;
	}
}

.item-content {
	padding: 0.4rem 0;
	padding-left: 1rem;
	background: var(--content-bg);
	color: var(--content-text);
	display: flex;
	flex-direction: column;
}

.item-group {
	width: 100%;
	height: 3rem;
	align-content: center;
	
	label {
		display: inline-block;
		width: 12rem;
	}
	
	input {
		width: calc(100% - 13rem);
		height: 80%;
		border-radius: 4px;
		padding-left: 0.6rem;
		border: var(--main-border);
		background: var(--main-bg);
		color: var(--content-text);
	}
}

.mypage-modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--modal-overlay-bg);
	display: flex;
	justify-content: center;
	align-items: center;
}

.mypage-modal-overlay.close {
	display: none;
}

.mypage-modal {
	width: 30rem;
	height: 40rem;
	border-radius: 1rem;
	overflow: hidden;
	
	.header {
		width: 100%;
		height: 5rem;
		padding: 1rem;
		background: var(--nav-main-bg);
		font-size: 2rem;
		color: white;
		display: flex;
		align-items: center;
		gap: 1rem;
	}
	
	.content {
		width: 100%;
		height: calc(100% - 5rem);
		padding: 1rem;
		background: var(--content-bg);
		color: var(--content-text);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 0.6rem;
		
		.content-group {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 0.2rem;
			font-size: 1.4rem;
			
			label {
				padding-left: 0.4rem;
			}
			
			input[type=password], input[type=text] {
				width: 100%;
				border: var(--main-border);
				background: var(--main-bg);
				color: var(--content-text);
				padding-left: 0.6rem;
				height: 4rem;
				border-radius: 10px;
			}
			
			button {
				margin-top: 5rem;
				width: 100%;
				height: 3rem;
				border: var(--main-border);
				border-radius: 10px;
				background: var(--nav-main-bg);
				color: white;
			}
		}
	}
}
























