<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="~{layout/head-fragment :: headFragment}"></th:block>
	<th:block th:replace="~{layout/main-component-head-fragment :: MainFragment}"></th:block>
	<link rel="stylesheet" th:href="@{/css/asset/asset.css}">
</head>
<body>
	<!-- login Navbar -->
	<div th:replace="~{layout/nav-login :: navLoginFragment}"></div>
	
	<!-- Ledger Sidebar Fragment -->
	<div th:replace="~{asset/ledger-fragment :: LedgerSidebarFragment}"></div>
</body>
</html>