.nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 6rem;
	background: var(--nav-main-bg);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20rem;
	white-space: nowrap;
}

.nav-control {
	width: auto;
	height: 100%;
	display: flex;
	align-items: center;
	gap: 1rem;
	a {
		color: white;
		font-size: 2rem;
	}
	
	a:first-child {
		margin-right: 3rem;
	}
}

.nav-user-control {
	position: relative;
	width: 6rem;
	height: 100%;
	display: flex;
	align-items: center;
	gap: 1rem;
	justify-content: center;
	
	> button {
		font-size: 1.2rem;
		background: none;
		border: none;
		color: white;
		padding: 1rem;
	}
}

#user-control:hover ~ .user-control-item,
.user-control-item:hover {
    display: flex;
}

.user-control-item {
	position: absolute;
	top: 90%;
	right: -50%;
	width: 200%;
	height: auto;
	background: white;
	border: var(--default-border);
	border-radius: 4px;
	overflow: hidden;
	display: none;
	flex-direction: column;
	gap: 0.2rem;
	
	hr {
		border: none;
		background: #eee;
		width: 100%;
		height: 1px;
	}
	
	button {
		width: 100%;
		height: 3rem;
		background: none;
		border: none;
		color: #333;
		font-size: 1.05rem;
	}
	a {
		text-align: center;
		font-size: 1.05rem;
		align-content: center;
		height: 3rem;
	}
	
	button:hover, a:hover { background: #efefef; }
	button:last-child { background: #eee; }
	button:last-child:hover { background: #ddd; }
}

.white-icon {
	fill: white;
	stroke: white;
}

.yellow-icon {
	fill: yellow;
	stroke: yellow;
}

.user-modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
}

.user-modal-overlay.close {
	display: none;
}

.user-modal {
	width: 30rem;
	height: auto;
	display: flex;
	flex-direction: column;
	background: white;
	border-radius: 20px;
	padding: 1rem;
}

.user-modal-header {
	text-align: center;
	font-family: var(--font-header);
	font-size: 2rem;
	font-weight: 900;
	margin-bottom: 3rem;
}

.user-modal-input {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	margin-bottom: 2rem;
	
	.in-group {
		display: flex;
		flex-direction: column;
	}
	
	.in-group.radio {
		flex-direction: row;
		border: var(--default-border);
		border-radius: 10px;
		height: 3rem;
		justify-content: space-around;
	}
	
	label {
		padding-left: 10px;
		font-size: 1.1rem;
		color: #495057;
	}
	
	p {
		padding-left: 10px;
		font-size: 1.1rem;
		color: #495057;
	}
	
	input[type=text], input[type=password] {
		padding-left: 10px;
		width: 100%;
		height: 3rem;
		font-size: 1.1rem;
		border-radius: 10px;
	}
	
	.radio-box {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		gap: 4px;
		
		label { cursor: pointer; padding: 0; }
		input[type=radio] { cursor: pointer; }
	}
}

.user-modal-control {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	
	button {
		width: 100%;
		height: 3rem;
		font-size: 1.2rem;
		border: none;
		border-radius: 10px;
		background-color: #1b2035;
		color: white;
	}
	button:hover {
		background-color: #1f2b45;
	}
	
	a {
		color: #6598ed;
	}
	
	a:hover {
		text-decoration: underline;
	}
}

.message-modal {
	width: 30rem;
	height: auto;
	display: flex;
	flex-direction: column;
	background: white;
	border-radius: 20px;
	padding: 1rem;
}

.message-header {
	text-align: center;
	margin-bottom: 1.4rem;
	
	h1 {
		font-size: 1.6rem;
		font-weight: bolder;
		font-family: var(--font-header);
	}
}

.message-content {
	width: 100%;
	height: auto;
	margin-bottom: 2rem;
	text-align: center;
	font-size: 1.2rem;
}
.message-nextFunc {
	width: 100%;
	height: auto;
	padding: 0.4rem;
	border: var(--default-border);
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
}

.message-nextFunc:hover {
	background: #1b2035;
	color: white;
}

#theme {
	position: absolute;
	width: 6rem;
	height: 3rem;
	top: 25%;
	right: -100%;
	border: 1px solid #eee;
	border-radius: 8px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.4rem;
	padding-right: 0 1rem;
	cursor: pointer;
}