@import url('https://rsms.me/inter/inter.css');

:root {
	--font-content: 'Pretendard', 'IBM Plex sans KR', sans-serif;
	--font-header: 'Inter', 'Poppins', 'Pretendard', sans-serif;
	
	--default-border: 1px solid #ccc;
	
	--main-bg: #fefefe;
	--dark-mode-color: #333;
	--main-text-color: #333;
	--control-bar-bg: #ccc;
	--control-bar-text: white;
	--main-border: 1px solid #aaa;
	
	--content-header-bg: #708090;
	--content-header-text: white;
	--content-header-hover: #1b2035ee;
	--content-bg: #eee;
	--content-text: #333;
	
	--main-content-bg: #ccc;
	
	--nav-main-bg: #1b2035ee;
	--nav-dark-mode-bg-color: #111111ee;
	
	--modal-overlay-bg: rgba(0, 0, 0, 0.2);
}

[data-theme='light'] {
	--main-bg: #fefefe;
	--nav-main-bg: #1b2035ee;
	--main-text-color: #333;
	--control-bar-bg: #708090;
	--control-bar-text: white;
	--main-border: 1px solid #ccc;
	
	--content-header-bg: #708090;
	--content-header-text: white;
	--content-header-hover: #1b2035ee;
	--content-bg: #eee;
	--content-text: #333;
	
	--modal-overlay-bg: rgba(0, 0, 0, 0.2);
}

[data-theme='dark'] {
	--main-bg: #333;
	--nav-main-bg: #111111ee;
	--main-text-color: white;
	--control-bar-bg: #222;
	--control-bar-text: #ccc;
	--main-border: 1px solid #555;
	
	--content-header-bg: #222;
	--content-header-text: white;
	--content-header-hover: #111;
	--content-bg: #444;
	--content-text: white;
	
	--modal-overlay-bg: rgba(0, 0, 0, 0.5);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: var(--font-content);
	font-size: 12px;
	scroll-behavior: smooth;
	color: #333;
}

body {
	width: 100%;
	height: auto;
	min-height: 100vh;
	position:relative;
	padding-top: 6rem;
	padding-left: 20rem;
	padding-right: 20rem;
	background: var(--main-bg);
}

h1, h2, h3, h4, h5, h6 {
	font: inherit;
}

input {
	outline: none;
	border: var(--default-border);
	font: inherit;
}

button {
	cursor: pointer;
	outline: none;
	border: var(--default-border);
	font: inherit;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: #333;
}