<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="~{layout/head-fragment :: headFragment}"></th:block>
	<link rel="stylesheet" th:href="@{/css/user/mypage.css}">
</head>
<body>
	<!-- login Navbar -->
	<div th:replace="~{layout/nav-login :: navLoginFragment}"></div>
	
	<!-- Control Bar : mypage -->
	<div class="control-bar">
		<div class="control-bar-header">
			<h1>마이페이지</h1>
		</div>
		
		<div class="control-bar-items">
			<a th:href="@{/my/profile}">프로필 관리</a>
		</div>
	</div>
	
	<!-- Main Container : profile -->
	<div class="mypage-container">
		<!-- Section Navigation -->
		<div class="mypage-section-descript">
			<div>
				<a href="/index">Home</a> > <a href="/my/profile">마이페이지</a> > <a href="/my/profile">프로필 관리</a>
			</div>
			<h1>프로필 관리</h1>
		</div>
		
		<!-- Main Content : profile -->
		<div class="mypage-content">
			<div class="mypage-content-item">
				<div class="item-header">
					<h2>개인정보</h2>
					<button id="profile-update">비밀번호 변경</button>
				</div>
				<div class="item-content">
					<div class="item-group">
						<label>회원 식별 아이디</label>
						<input type="text" th:value="${user.publicId}" readonly>
					</div>
					<div class="item-group">
						<label>가입일</label>
						<input type="text" id="time" th:value="${user.createdAt}" readonly>
					</div>
					<div class="item-group">
						<label>회원 이메일 아이디</label>
						<input type="text" th:value="${user.email}" readonly>
					</div>
					<div class="item-group">
						<label>닉네임</label>
						<input type="text" id="user-nickname" th:value="${user.nickname}" readonly>
					</div>
					<div class="item-group">
						<label>성별</label>
						<input type="text" th:value="${user.gender}" readonly>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- MyPage Modals -->
	<div id="mypage-modal-ctrl" class="mypage-modal-overlay close">
		<div class="mypage-modal">
			<div class="header">
				<svg class="white-icon" xmlns:th="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="25" height="25">
					<path d="M12,12A6,6,0,1,0,6,6,6.006,6.006,0,0,0,12,12ZM12,2A4,4,0,1,1,8,6,4,4,0,0,1,12,2Z"/>
					<path d="M12,14a9.01,9.01,0,0,0-9,9,1,1,0,0,0,2,0,7,7,0,0,1,14,0,1,1,0,0,0,2,0A9.01,9.01,0,0,0,12,14Z"/>
				</svg>
				<h1>개인정보 수정</h1>
			</div>
			<div class="content">
				<div class="content-group">
					<label>현재 비밀번호</label>
					<input type="password" id="profile-password">
				</div>
				<div class="content-group">
					<button id="profile-password-match">확인</button>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/js/component/mypage-modal-component.js}"></script>
	
	<script>
		const createdAt = $.id('time').build();
		const createdAtDate = new Date(createdAt.value);
		createdAt.value = timeFormat(createdAtDate);
		
		$.id('profile-update').on('click', () => {
			const modal = $.selector('.mypage-modal-overlay');
			
			$.toggle(modal, 'close');
			
			modal.replaceChildren(mypageProfilePasswordMatchOpen())
		})
		
		$.id('mypage-modal-ctrl').on('click', (e) => {
			const modal = e.target;
			
			$.toggle(modal, 'close');
		})
	</script>
</body>
</html>